body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

#container {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
}

input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    text-align: center;
    padding: 8px;
}

#taskID, #userID {
    width: 10%;
}

#status {
    width: 10%;
}

#description {
    width: 40%;
}

#action {
    width: 20%;
}

.btn {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0a49f6;
}

.btn-delete:hover {
    background-color: #dc3545;
}

::-webkit-scrollbar {
    width: 0.5rem;
    background-color: #424751;
}

::-webkit-scrollbar-thumb {
    background-color: #007BFF;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #0a49f6;
}

@media (max-width: 768px) {
    #description {
        width: 30%;
    }
}

@media (max-width: 576px) {
    #description {
        width: 50%;
    }
}